body {
    text-align: center;
}

header {
    height: auto;
    width: 100vw;
}

.gameBoard {
    width: 75vw;
    height: 75vh;
    display:grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin:0 auto;
    }

.gridBlock {
    display:grid;
    border: 2px solid black;
    border: 10px;
    background:whitesmoke;
    border: 1px solid lightgrey;
}

footer {
    text-align: center;
    height: auto;
    width: 100vw;
    display:grid;
    grid-template: 1 / repeat(3, 1fr);
    margin:0 auto;
}

.score {
    height: auto;
    width:20vw;
    border: 2px solid black;
    border-radius: 5px;
}

#redScore {
    grid-column: 1;
    background: lightcoral
}

#resetButton {
    grid-column: 2;
    height: auto;  
    width: 50vw;
    background: lightslategray;
    border: 2px solid black;
    border-radius: 20px;
}

#blueScore {
    grid-column:3;
    background: lightblue;

}