body {
    text-align: center;
}

header {
    height: auto;
    width: 100vw;
}

.gameBoard {
    width: 50vh;
    height: 50vh;
    display:grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin:0 auto;
    }

.gridBlock {
    display:grid;
    border: 5px solid grey;
    background:whitesmoke;
}

footer {
    height: auto;
    width: 100vw;
    display:grid;
    grid-template: 1 / repeat(3, 1fr);
    margin:0 auto;
}

.score {
    height: auto;
    width:20vw;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

#redScore {
    grid-column: 1;
    background: lightcoral;
}

#resetButton {
    grid-column: 2;
    height: auto;  
    width: 50vw;
    background: lightslategray;
    border: 2px solid black;
    border-radius: 20px;
}

#blueScore {
    grid-column:3;
    background: lightblue;
}